.YearSelector{
    text-align: right;
    list-style-type: none;
    li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    
}
.selectYear{
    background-color: rgba(32, 31, 31, 0.888);
    color: white;
}
